.levelWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.title {
  font-size: 6rem;
  font-weight: 600;
  color: #e5f3fd;
}

.subTitle {
  font-size: 1rem;
  font-weight: 600;
  color: #e5f3fd;
}

.letterGrid {
  display: grid;
  gap: 10px;
  margin-top: 30px;
  transform: scale(0.7);
}

.guessWrapper {
  margin-top: 50px;
  transform: scale(0.7);
}

.nextButton {
  margin-top: 20px;
  text-align: center;
  line-height: 64px;
  background: #19bd83;
  padding: 10px 30px;
  border-radius: 999em;
  color: #fff;
  font-size: 16px;
  font-family: lato;
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
}
.nextButton:hover {
  border: 1px solid white;
}
