.button {
  position: absolute;
  padding: 10px;
  background-color: #98e4d9;
  border-radius: 10px;
  color: black;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
  border: 2px solid #7bbcb6;
  cursor: pointer;
  z-index: 10;
}

.buttonWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100px;
}

.congrats {
  font-size: 6rem;
  color: #e5f3fd;
}

.congratsSubtitle {
  font-size: 2rem;
  color: #e5f3fd;
}
